.input-group{
    padding-top: 30px;
}

<<<<<<< HEAD
.h_1{
    background: rgb(6, 4, 99);
=======
.iconRing{
    padding-top: 38px;
    align-content: right;
}

.imp {
    padding-left: 30px;
>>>>>>> 3260853df8a4c76c3a6fd8cbd6baaf0a6f7a09db
}