.rightbar-item-name {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    min-width: 150px;
        padding: 5px 15px;
        margin: 0 5px;
        border: none;
        outline: none;
        border-bottom: 1px solid rgba(61, 61, 61, 0.822);
    }