.rightbar-branch-name {
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    color: rgb(2, 4, 119);
    font-size: large;
}

.rightbar-branch-content {
    border: 1px solid grey;
    border-radius: 1%;
    text-align: left;
}